@font-face {
    font-family: samsen;
    src: url(/font/samsen.ttf);
}

@font-face {
    font-family: segoeui;
    src: url(/font/segoeui.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
        
}

.content1 img{
    width: 100%;
}

.content2 img{
    margin-left: 10px;
    width: 49.6%;
}

.bg {
    position: relative;
    bottom: 0;
    background-image: url("/img/backgrand.png");
    background-size: 100%;
    background-position: center right ;
    background-repeat: no-repeat;


}


header h1 {
    position: relative;
    left: 180px;
    font-size: 140px;
    font-family: "samsen", sans-serif;
    padding-top: 150px;
    margin-right: 40%;
}

header p1 {
    position: absolute;
    left: 250px;
    bottom: 55px;
    font-size: 70px;
    color: rgb(229, 50, 0);

}

.logo img {
    position: absolute;
    top: 30px;
    right: 10px;
    width: 25%;
    margin-top: 40px;
    padding-left: 15%;
    background-image: none;

}

header span {
    position: fixed;
    margin-top: 50px;
    margin-left: 416px;
    font-size: 70px;
    text-decoration: none;
    color: #818181;
    display: block;
    cursor: pointer;
    top: 180px;
    right: 47px;
}

.content3{
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
}

footer {
    position: relative;
    background-color: #5c5c5c;
}

footer img{
    position: absolute;
    bottom: 40px;
    left: 45%;
    width: 10%;
}

@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    .ipad-portrait { color: red; } /* your css rules for ipad portrait */
  }
  @media all and (device-width: 1366px) and (device-height: 1024px) and (orientation:landscape) {
    .ipad-landscape { color: blue; } /* your css rules for ipad landscape */
  }